<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="ADD CONNECTION STRING FROM AZURE CONSOLE HERE"/>
  </appSettings>
</configuration>
